/* EFFETTI CSS */


/* Primo esercizio */

.ex-1-square{
    transition: all 2s;
}

.ex-1-square:hover{
    background: red;
}


/* Secondo Esercizio */

.ex-2-square{
    transition: all 3s;
}

.ex-2-square:active{
    width: 100%;
}


/* Terzo Esercizio */

.ex-3-square{
    transition: all 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}


/* Quarto Esercizio */

.ex-4-square{
    transition: all 3s;
}

.ex-4-square:hover{
    opacity: 0;
}


/* Quinto Esercizio */

.ex-5-square{
    transition: all 3s;
}

.ex-5-square:hover{
    scale: 2;
}

.ex-5-square:active{
    scale: 0.5;
}


/* Sesto Esercizio */

.ex-6-img:hover{
    filter: grayscale(1);
}


/* Settimo Esercizio */

.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover{
    filter: grayscale(1) blur(2px);
}


/* Ottavo Esercizio */

.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.7);
}


/* Nono Esercizio */

.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover{
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.7);
    scale: 1.5;
}


/* Decimo Esercizio */

.ex-10-icon{
    animation: loading infinite 1s linear;
}

@keyframes loading{
    0%{
        transform: rotate(1turn);
    }
}


/* Undicesimo Esercizio */

.ex-11-icon:hover{
    animation: loading2 2s normal;
}

@keyframes loading2{
    0%{
        transform: rotate(0);
    }

    90%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(0)
    }
}


/* Dodicesimo Esercizio */

.ex-12-button:hover .ex-12-top-white{
    animation: bordosuperiore 3s normal;
}

@keyframes bordosuperiore{
    0%{
        left: 10%;
    }

    50%{
        left: calc(100% - 60px);
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bordoinferiore 3s normal;
}

@keyframes bordoinferiore{
    0%{
        right: 20%;
    }

    50%{
        right: calc(100% - 60px)
    }

    100%{
        right: 20%;
    }
}


/* Tredicesimo Esercizio */

.ex-13-button:hover .ex-13-top-white {
    animation: bordertop 2s normal;
}
@keyframes bordertop {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: borderbottom 2s normal;
}
@keyframes borderbottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}



