/* EFFETTI CSS */


/* Primo esercizio */

.ex-1-square{
    transition: all 2s;
}

.ex-1-square:hover{
    background: red;
}


/* Secondo Esercizio */

.ex-2-square{
    transition: all 3s;
}

.ex-2-square:active{
    width: 100%;
}


/* Terzo Esercizio */

.ex-3-square{
    transition: all 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}


/* Quarto Esercizio */

.ex-4-square{
    transition: all 3s;
}

.ex-4-square:hover{
    opacity: 0;
}


/* Quinto Esercizio */

.ex-5-square{
    transition: all 3s;
}

.ex-5-square:hover{
    scale: 2;
}

.ex-5-square:active{
    scale: 0.5;
}


/* Sesto Esercizio */

.ex-6-img:hover{
    filter: grayscale(1);
}


/* Settimo Esercizio */

.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover{
    filter: grayscale(1) blur(2px);
}


/* Ottavo Esercizio */

.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.7);
}


/* Nono Esercizio */

.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover{
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.7);
    scale: 1.5;
}


/* Decimo Esercizio */



